@media screen and(min-width:768px) {
    .footer {
        position: absolute;
        bottom: 0;
    }
}

@media screen and(max-width:767px) {
    .footer {
        position: absolute;
        bottom: 0;
    }
}

.footer {
    width: 100%;
    background-color: aliceblue;
    text-align: center;
    padding: 10px 0px;
    border-top: 2px solid darkcyan;
    margin-bottom: 0;
}