input {
    border: 1px solid darkcyan;
    padding: 4px;
    font-size: large;
}

i {
    margin-left: 5px;
    color: darkcyan;
    font-weight: 100;
}

.form-inline {
    text-align: left;
    padding-left: 22px;
}