.header {
    background-color: aliceblue;
    color: rgb(8, 38, 89);
    display: flex;
    align-self: center;
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    border-bottom: 3px solid darkcyan;
}

i {
    margin-left: 10px;
    color: darkcyan;
}