.header {
    background-color: aliceblue;
    color: rgb(8, 38, 89);
    display: flex;
    align-self: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 2px solid darkcyan;
}